root = true

[*]
end_of_line = crlf
files.encoding = "utf8"
insert_final_newline = true
trim_trailing_whitespace = true

[*.dm]
#end_of_line = crlf
indent_size = 4
indent_style = tab

#[*.dmm]
#end_of_line = crlf

[*.py]
indent_size = 4
indent_style = space

[*.yml]
indent_size = 2
indent_style = space

#[*.txt]
#end_of_line = crlf
